.Cuerpo {
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  margin-bottom: 20px;
}
.foto {
    width: 15rem;
    height: 15rem;
  
    border: 1px solid black;
    border-radius: 3px;
    color: white;
    
  
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;
    max-width: 600px;
    margin: auto;
}


